<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color">
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./javascript/CssToTheRescue.js" defer></script>
    <title>Enquete Minor Webdesign and Development</title>
</head>

<!-- CSS to the rescue -->

<main>
    <section id="centreren">
<form id="cssRescue" method="post" enctype="application/x-www-form-urlencoded" action="/enquete-pwa">
    <fieldset>
        <h2>2. CSS to the Rescue</h2>
        <h3>Vul hier jouw naam in</h3>
        <input id="css-naam" type="text" placeholder="Vul hier jouw naam in..." name="naam" required>
        <h3>Docenten van CSS to the Rescue</h3>
        <input id="css-docenten" type="text" placeholder="Vul hier de naam(en) van jouw docenten in" name="docenten" required>
        <h3>Tijd waarin je dit vak hebt gehad</h3>
        <section class="weekData">
            <section>
                <h4>Vul hier de start datum in</h4>
            <input id="css-begindatum" type="date" value="start-date" name="start-datum" required>
        </section>
            <section>
            <h4>Vul hier de eind datum in</h4>
                <input id="css-einddatum" type="date" value="ending-date" name="eind-datum" required>
        </section>
    </section>
        <h3>Geef het vak CSS to the Rescue een cijfer</h3>
            <select id="css-cijfer" name="cijfer" required>
                <option name="cijfer" value="">Cijfer kiezen</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        <h3>Hoe moeilijk vond je het vak CSS to the Rescue?</h3>
            <select id="css-moeilijkheidsgraad" name="moeilijkheidsgraad" required>
                <option name="moeilijkheidsgraad" value="">Keuze maken</option>
                <option value="zeer gemakkelijk">Zeer gemakkelijk</option>
                <option value="gemakkelijk">Gemakkelijk</option>
                <option value="neutraal">Neutraal</option>
                <option value="moeilijk">Moeilijk</option>
                <option value="zeer moeilijk">Zeer moeilijk</option>
        </select>
        <h3>Hoe vond je de uitleg van bij CSS to the Rescue?</h3>
        <select id="css-uitleg" name="uitleg" required>
            <option name="uitleg" value="">Keuze maken</option>
            <option value="zeer slecht">Zeer slecht</option>
            <option value="slecht">Slecht</option>
            <option value="neutraal">Neutraal</option>
            <option value="goed">Goed</option>
            <option value="zeer goed">Zeer goed</option>
    </select>
    <h3>Geef jouw mening over CSS to the Rescue</h3>
    <textarea id="css-reactie" name="reactie" rows="4" cols="50" required placeholder="Schrijf hier wat jij want het vak vond of bijvoorbeeld een leuke toevoeging">
    </textarea>
    </fieldset>
    </fieldset>
    <section id="submit">
    <a id="submit" href="/enquete-pwa">
        <input id="submitBtn" type="submit" value="Volgende vak">
    </a>
    </section>
</form>
</section>
</main>

<%- include('./partials/foot') %>
