<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color">
    <link rel="stylesheet" href="./css/styleEnquete.css" />
    <title>Enquete Minor Webdesign and Development</title>
</head>
<body>
    <header>
        <h1>Bedankt voor het invullen van de enquete!</h1>
    </header>
    <main id="resultatenmain">
        <p>Bedankt voor het invullen van de enquete!
            Jouw antwoorden zullen verder niet gedeeld worden en zijn bedoelt
            voor leerdoelen  
        </p>
    </main>
</body>

<%- include('./partials/foot') %>