@font-face {
    font-family: red-hat;
    src: url('fonts/Red_Hat_Mono/static/RedHatMono-Medium.ttf');
    /* backup fonts toevoegen */
}

@font-face {
    font-family: red-hat-normal;
    src: url('fonts/Red_Hat_Mono/static/RedHatMono-light.ttf');
}

body {
    background-color: #212529;
}

h2 {
    font-family: red-hat;
    font-size: 1.5em;
}

h3 {
    font-family: red-hat;
    font-size: 1em;
}

h1 {
    font-family: red-hat;
    text-align: center;
    font-size: 2em;
    color: #fefefe;
}

p {
    font-family: red-hat-normal;
}

p:first-of-type {
    color: #fefefe;
    padding: 2%;
}

#melding {
    color: #212529;
    font-size: 12px;
}

@supports (display:flex) {
    main {
        background-color: #edf2f4;
        color: #212529;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}

fieldset {
    border: none;
}

#start {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#starten {
    border: none;
    background-color: #90be6d;
    height: 35px;
    border-radius: 15px;
    color: #fefefe;
}

#persoonsgegevens:invalid #melding {
    display: block;
    color: red;
}

#persoonsgegevens:valid #melding {
    display: none;
}







/* #wafs:valid #submit, #pwa:valid #submit, #cssRescue:valid #submit, #browserT:valid #submit {
    display: block;
    margin-left: 4%;
}


#wafs:invalid, #pwa:invalid, #cssRescue:invalid, #browserT:invalid {
    border: 3px solid red;
}

#wafs:valid, #pwa:valid, #cssRescue:valid, #browserT:valid {
    border: 3px solid green;
} */



